# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
lerna-debug.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Build outputs
dist-ssr

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
*.local

# TypeScript
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom
app-example

.turbo

# env files
.env
